<header id="header" class="header-v1">

  {% include directory ~ '/templates/page/parts/topbar.html.twig' %}

  {% set class_sticky = '' %}
  {% if sticky_menu == 1 %}
    {% set class_sticky = 'gv-sticky-menu' %}
  {% endif %}

  <div class="gbb-row-wrapper">
    <div class="bb-container container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-8 branding logo">
          <a href=" {{ path('<front>') }}">
            <img src="{{ base_path }}/themes/gavias_edmix/fact-logo.png">
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-4 p-static">
          <div id="top_header_img_div">
            <img src="{{ base_path }}/themes/gavias_edmix/aun-logo.png">
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-4">
    		  <div id="top_header_content_div">
      			<div id="top_header_menu_div">
      				{{ render_block('topheadermenu') }}
      			</div>
      			<div id="search_div">
      				{{ render_block('searchform') }}
      			</div>
          </div>
        </div>
      </div>
    </div>
  </div>


   <div class="header-main {{ class_sticky }}">
      <div class="container header-content-layout">
         <div class="header-main-inner p-relative">
            <div class="row">
              <div class="header-inner clearfix">
                <div class="main-menu">
                  <div class="area-main-menu">
                    <div class="area-inner">
                      <div class="gva-offcanvas-mobile">
                        <div class="close-offcanvas hidden"><i class="fa fa-times"></i></div>
                        {% if page.main_menu %}
                          {{ page.main_menu }}
                        {% endif %}
                      </div>
                      <div id="menu-bar" class="menu-bar hidden-lg hidden-md">
                        <span class="one"></span>
                        <span class="two"></span>
                        <span class="three"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </div>
      </div>
   </div>

</header>
