<div class="o365-profile-block">
  <div class="o365-profile-block--image">
    <img src="{{ imageData }}" title="{{ displayName }}" alt="{{ displayName }}" />
  </div>
  <div class="o365-profile-block--name">
    {{ 'Welcome' | t }} <span>{{ displayName }}</span>
  </div>
</div>
